SUPABASE_URL=https://{database-id}.supabase.co
SUPABASE_KEY={supabase secret key}
SUPABASE_CONNECT={supabase connection string}

DB_CONNECTION_STRING="dbname={db name} user={username} password={password} host={host name}"
DB_USERNAME={db owner username}
DB_PASSWORD={db password}
DB_NAME={db name}
DB_HOST={db host name}
DB_PORT={db port}

CHESS_FILE_PATH={path to the kaggle csv file}\chess_games.csv

FERN_KEY={fern key}

JWT_SECRET_KEY={wt secret key}
JWT_TOKEN_LOCATION={jwt token location}
JWT_HEADER_NAME={jwt header name}
JWT_HEADER_TYPE={jwt header type}

HOST={host ip adress}
PORT={app port}