python-chess
requests
supabase
python-dotenv
psycopg2-binary
pandas
beautifulsoup4
cassandra-driver
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
flask
flask-sqlalchemy
flask_socketio
flask-jwt-extended
flask-cors
marshmallow
marshmallow-sqlalchemy
flasgger
loguru
eventlet
prometheus-client